*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{
    cursor: pointer;
    outline: none !important;
}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
}
input[type=number]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../icons/arrows/Vector.png") no-repeat;
    width: 10px;
    height: 10px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../icons/arrows/Vector.png") 100% 8px  no-repeat;    
}
::placeholder { 
    color: #FF7757;
}
.wrapper{
    max-width: 1555px;
    margin: 0 auto;
}
section{
    margin-bottom: 280px;
}
.btn{
    background-color: #FF7757;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.fa-star{
    color: #FFC107;
    font-size: 20px;
}

.image__cutter img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Slider */
/* General setting*/
.slick-list {
    overflow: hidden;
    height: 100%;
}
.slick-track{
    display: flex;
    align-items: flex-start; 
    gap: 32px
}

/*Slider arrows*/
.slick-arrow{
    font-size: 0;
}
.slick-arrow.slick-prev{
    background: url("../icons/arrows/slider-arrow-left.png") center / 20% no-repeat;
    background-color: #172432;
}
.slick-arrow.slick-next{
    background: url("../icons/arrows/slider-arrow-right.png") center / 20% no-repeat;
    background-color: #FF7757;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    position: absolute;
    top: -170px;   
    height: 60px;
    width: 66px;
    border-radius: 12px;  
}
.arrow_rigth_side .slick-arrow.slick-prev{
    right: 280px;
}
.arrow_rigth_side .slick-arrow.slick-next
{
    right: 180px;
}
.arrow_left_side .slick-arrow.slick-prev{
    left: 0;
}
.arrow_left_side .slick-arrow.slick-next
{
    left: 100px;
}

/* Animated border */
.hover-border{
    position: relative;
}
.hover-border:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    top: 26px;
    left: 0;
    background-color: #FF7757;
    transition: all 0.6s;
}
.hover-border:hover:after {
    width: 100%;
}

/* Section header*/
.section__header{
    margin-bottom: 100px;
}
.section__title_left_side{
    text-align: end;
}
.section__text_main{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    line-height: 85px;
}
.section__text_sub{
    font-size: 24px;
    color: #767E86;
    line-height: 28px;
}
.stripe::before{
    content: "";
    height: 3px;
    background-color: #FF7757;
    display: inline-block;
    margin: 20px 0 35px 0;
}

/* Header */
header{
    position: relative;
    max-width: 1920px;
    height: 1200px;
    margin: 0 auto 220px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    margin-bottom: 140px;
}
nav a{
    position: relative;
    color: white;
    font-size: 20px;
    margin-right: 32px;
    transition: all 0.2s ease;
}
nav a:hover, .btn:hover, .footer__block__item a:hover {
    text-shadow: 0 0 .9px rgb(255, 255, 255), 0 0 .9px rgb(255, 255, 255), 0 0 .9px rgb(255, 255, 255);
    color: white;
}
nav ul li{
    display: inline-block; 
}
nav ul li:last-child{
    margin-right: 0px; 
}

.auth{
    display: inline-block;
}
.sign-up{
    padding: 20px 32px;
    margin: 0;
}
.burger-menu {
    z-index: 1;
    display: none;
}

.header__text_main{
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 84px;
    color: white;
    line-height: 112px;
    margin-bottom: 16px;
}
.header__text_sub{
    position: relative;
    font-size: 24px;
    color: white;
    line-height: 28px;
}
.header__booking{
    position: relative;
    max-width: 1470px;
    margin: 150px 0;
}
.booking__form{
    position: relative;
    left: -200px;
    padding-left: 200px;
    display: flex;
    align-items: center; 
    height: 215px;    
    background-color: #fff;
    border-radius: 0 20px 20px 0;
}
.input__block{
    display: flex;
    margin-right: 100px;
}
.form__group{
    width: 225px;
    margin-right: 40px;
}
.form__group:last-child{
    margin-right: 0;
}
.form__input{
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 10px 0; 
}
.form__label{
    font-size: 16px;
    color: #767E86;
}
.form__btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 100%;
    padding: 20px;

    background-color: #FF7757;
    font-family: 'Playfair Display', serif;
    font-size: 36px; 
    text-align: left;
    color: white;
    border-radius: 0 20px 20px 0;

    z-index: 1000;
}
.form__btn span{
    line-height: 48px;
    margin-right: 25px;
    white-space: initial;
}

.fa-arrow-right{
    width: 20px;
    font-size: 22px;
}

.slider_header .slick-track{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
}
.slider_header .slick-list {
    height: 1200px;
}
.slider_header{
    width: 100%;
    position: absolute;
    top: 0;
}
.slider_header .slick-arrow{
    position: absolute;
    top:50%;
    margin: -40px 0 0 0;
    z-index: 10;
    font-size: 0;
    z-index: 10000;
}
.slider_header .slick-arrow.slick-prev, 
.slider_header .slick-arrow.slick-next{
    border-radius: 0;
    width: 16px;
    height: 10px;
}
.slider_header .slick-arrow.slick-prev{
    right: 70px;
    top: 720px;
    z-index: 10000;
    background: url("../icons/arrows/slider-arrow-up.png") 0 0 / 100% no-repeat;
}
.slider_header .slick-arrow.slick-next{
    right: 70px;
    top: 745px; 
    background: url("../icons/arrows/slider-arrow-down.png") 0 0 / 100% no-repeat;
    z-index: 10000;
}
.slider_header .slick-dots{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 70px;
}
.slider_header .slick-dots button{
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.slider_header .slick-dots li button{
    margin-bottom: 24px;
}
.slider_header .slick-dots li.slick-active button{
    background-color: #FF7757;
    border: none;
}
.slider_header .slider__item{
    z-index: -1000;
}

/* Popular destination */
.popular__section{
    height: 1200px;
    margin: 0;
}
.popular__block{
    margin-top: 140px;
}
.popular__slider__item .image__cutter{
    width: 500px;
    height: 660px;
    border-radius: 25px;
    overflow: hidden;
}
.popular__block .stripe::before{
    width: 365px;
}
.popular__about{
    position: relative;
    bottom: 115px;
    left:25px;
    color: white;
}
.popular__title{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}
.location{
    margin-top: 18px;
}
.location__icon{
    margin-right: 15px;
}
.location span{
    font-size: 24px;
    line-height: 28px;
}
.fa-location-dot{
    width: 20px;
    height: 20px;
    font-size: 30px;
    color: black;
}
.popular__slider{
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    z-index: 10000;
    padding-left: 180px;
}

/* Special offer */
.special__block .stripe::before{
    width: 240px;
}
.special__name{
    font-family: 'Muli';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #767E86;
}
.special__description{
    font-size: 18px;
    line-height: 22px;
    color: #172432;
    margin: 25px 0;
}
.special__about .btn{
    font-size: 20px;
    color: white;
    padding: 20px 40px;
}
.special__rating .fa-star{
    margin: 8px 5px 0 0;
}
.special__about{
    padding: 40px 20px;
    background: #FFF8F1;
    border-radius: 0px 0px 26px 26px;
}
.special__slider{
    position: relative;
}
.special__slider__item{
    width: 497px;
}
.special__slider .image__cutter{
    width: 497px;
    height: 286px;
}
.special__bottom{
    display: flex;
    justify-content: space-between;
}
.price__block{
    display: flex;
    align-items: center;

    font-size: 20px;
    line-height: 24px;
    color: #767E86;
}
.price__amount{
    font-size: 40px;
    line-height: 48px;
    color: #FF7757;
    margin-left: 8px;
}

/* Blog  */
.blog__block .stripe::before{
    width: 150px;
}
.blog__content{
    display: flex;
    align-items: center;
}
.blog__info{
    margin-left: 32px;
}
.blog__title{
    font-family: 'Playfair Display';
    font-size: 54px;
    line-height: 72px;  
    color: #172432; 
}
.blog__text{
    margin-top: 24px;
    font-size: 24px;
    line-height: 52px;
    color: #172432;
}
.read-more{
    display: flex;
    align-items: center;
    margin-top: 24px;
    
    font-size: 24px;
    line-height: 52px;
    color: #FF7757;
}
.blog__block .image__cutter{
    width: 760px;
    height: 870px;
}
.read-more img{
    margin-left: 24px;
}

/* Trip planners */
.trip-planners__slider{
    height: 545px;
    position: relative;
    max-width: 1920px;
    padding-left: 180px;
    margin: 0 auto;
}
.trip-planners__slider .stripe::before{
    width: 230px;
}
.trip-planners__slider .section__header{
    width: 400px;
    height: 220px;
}
.trip-planners__slider .section__text_sub{
    font-size: 18px;
}
.trip-planners__slider__item{
    position: relative;
}
.trip-plans{
    margin-left: 45px;
}
.trip-plans a{
    position: relative;
    padding: 20px;
    font-size: 18px;
    line-height: 21px;
    color: white;
}
.trip-plans .square_black,
.trip-plans .square_gray{
    position: absolute;
    z-index: -1;
}
.trip-plans .square_black{
    top: -20px;
    left: -20px;
}
.trip-plans .square_gray{
    bottom: -20px;
}
.trip__info{
    color: #172432;
    padding: 20px 0;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
}
.trip__top, .trip__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trip__type{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
.trip__price {
    font-size: 18px;
    line-height: 21px;
}
.trip__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;

    margin: 12px 0;
}
.trip__rating .fa-star{
    margin-right: 8px;
}
.trip__duration {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
}
.trip__info{
    opacity: 0;
    transition: all 0.7s;
}
.trip-planners__header{
    margin-right: 100px;
}
.trip-planners__slider .slick-list{
    overflow: visible;
}
.trip-planners__slider__item .image__cutter{
    width: 300px;
    height: 400px;
}
.trip-planners__slider__item .image__cutter img{
    transition: all 0.7s;
}
.trip-planners__slider__item:hover .image__cutter img {
    transform: translateY(-60px);
    cursor: pointer;
}
.trip-planners__slider__item:hover .trip__info {
    opacity: 1;
}

/* Gallery */
.gallery__block .stripe::before{
    width: 285px;
}
.gallery__slider{
    position: relative;
    height: 652px;
}
.gallery__slider .slick-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery__slider__item .image__cutter{
    width: 365px;
    height: 570px;
}
.gallery__slider__item .image__cutter img {
    transition: all 0.7s;
}
.gallery__slider__item:hover .image__cutter img {
    transform: translateY(-40px);
    cursor: pointer;
}
.gallery__slider.arrow_rigth_side .slick-arrow.slick-prev {
    right: 100px;
}
.gallery__slider.arrow_rigth_side .slick-arrow.slick-next {
    right: 0;
}

/* Travellers */
.travelers__block{
    position: relative;
}
.travelers__block .stripe::before{
    width: 350px;
}
.travelers__slider{
    position: relative;
    max-width: 1920px;
    height: 410px; 
    margin: 0 auto;
    padding-left: 180px;
}
.travelers__slider .slick-list{
    display: flex;
    height: 100% !important;
}
.travelers__slider .slick-track{
    align-items: center;
}
.travelers__slider__item {
    position: relative;
    width: 665px;
    padding: 60px 40px 40px 40px;
    background: #f6f9fc;
    color: #767E86;
    border-radius: 12px;
}
.traveler__avatar {
    position: absolute;
    top: -50px;
    border-radius: 50%;
}
.comment__text {
    font-size: 18px;
    line-height: 23px;
}
.traveler__rating {
    margin: 20px 0;
}
.treveler__name {
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 5px;
}
.treveler__post {
    font-size: 18px;
    line-height: 21px;    
}
.travelers__slider.arrow_rigth_side .slick-arrow.slick-prev,
.travelers__slider.arrow_rigth_side .slick-arrow.slick-next  {
    top: 430px;
}

/* Footer */
footer{
    position: relative;
    margin: 0 auto;
    background-color: #172432;
    color: white;
    padding: 240px 180px 140px 180px;
}
.footer__block{
    display: flex;
    justify-content: space-between;
}
.footer__column{
    display: flex;
    flex-direction: column;
}
.footer__logo img{  
    width: 230px;
    margin-bottom: 16px;
}
.copyright{
    font-size: 14px;
    line-height: 16px;
}
.footer__block__title{
    display: inline-block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}
.footer__block__item{
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
    color: white;
}
.social{
    display: flex;
    align-items: center;
}
.social img{
    margin-right: 25px;
    cursor: pointer;
}
.newsletter{
    display: flex;
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px 80px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 26px;
    white-space: nowrap;
}
.newsletter__title{
    font-family: 'Playfair Display';
    font-size: 64px;
    line-height: 85px;
    color: #767E86;
}
.email__form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.email__form .email__group{
    margin: 0 30px 0 85px;
}
.email__form input{
    width: 372px;  
    padding: 20px 40px;
    margin-top: 16px;
    font-size: 20px;
    line-height: 24px;
    color: #FF7757;
    background: #FFE8D4;
    border-radius: 12px;
}
.email__form button{
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

/* Adaptivity */
@media screen and (max-width: 1440px) {
    .wrapper{
        padding: 0 32px;
    }
    nav{
        max-width: 1440px;
        width: 100%;
    }
    .slider_header .slick-dots{
        right: 32px;
    }
    .form__group{
        width: 195px;
        margin-right: 40px;
    }
    .slider_header .slick-arrow.slick-prev,
    .slider_header .slick-arrow.slick-next{
        right: 32px;
    }
    .popular__slider{
        padding-left: 32px;
    }
    .special__slider .slick-track{
        gap: 32px;
    }
    .special__slider__item{
        width: 437px;
    }
    .special__slider .image__cutter{
        width: 437px;
        height: 286px;
    }
    .blog__block .image__cutter{
        width: 670px;
        height: 800px;
    }
    .trip-planners__slider{
        padding-left: 32px;
    }
    .trip-planners__header{
        margin-right: 80px;
    }
    .gallery__slider .image__cutter{
        width: 320px;
        height: 468px;
    }
    .travelers__slider{
        padding-left: 32px;
        height: 450px;
    }
    .travelers__slider__item{
        width: 560px;
    }
    footer{
        padding: 240px 32px 140px 32px;
    }
    footer .wrapper{
        padding: 0;
    }
    .arrow_rigth_side .slick-arrow.slick-prev{
        right: 130px;
    }
    .arrow_rigth_side .slick-arrow.slick-next
    {
        right: 32px;
    }
}

@media screen and (max-width: 1300px){
    .form__group {
        width: 158px;
    }
}

@media screen and (max-width: 1152px) {
    section{
        margin-bottom: 140px;
    }
    header{
        height: auto;
    }
    nav{
        margin-bottom: 80px;
    }
    nav ul, nav .auth{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .slider_header .slick-list{
        height: 880px !important;
    }
    .header__text_main{
        font-size: 64px;
        line-height: 85px;
    }
    .header__text_sub{
        font-size: 24px;
    }
    .input__block{
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 40px;
    }
    .form__group{
        margin-right: 0;
    }
    .slider_header .slick-arrow.slick-prev{
        top: 615px;
    }
    .slider_header .slick-arrow.slick-next{
        top: 640px;
    }
    .popular__slider{      
        padding-left: 32px;
    }
    .special__slider__item{
        width: 340px;
        margin: 0;
    }
    .price__amount{
        font-size: 28px;
    }
    .special__about .btn{
        padding: 16px 24px;
    }
    .blog__block .image__cutter{
        width: 528px;
        height: 686px;
    }
    .blog__text{
        font-size: 18px;
        line-height: 42px;
    }
    .trip-planners__slider__item .image__cutter{
        width: 250px;
        height: 350px;
    }
    .gallery__slider{
        height: 440px;
    }
    .special__slider .image__cutter{
        width: 100%;
    }
    .gallery__slider .image__cutter{
        height: 351px;
        width: 248px;
    }
    .travelers__slider .slick-track{
        height: 100%;
    }
    .travelers__slider__item{
        width: 500px;
    }
    .newsletter{
        padding: 60px 40px;
        font-size: 54px;
    }
    .email__form input{
        width: 298px;
        padding: 24px 40px;
    }
}

@media screen and (max-width: 1080px){
    .section__text_main{
        font-size: 54px;
    }

    .blog__content{
        flex-direction: column;
    }
    .blog__block .image__cutter{
        width: 100%;
        height: 555px;
    }
    .blog__image{
        width: 100%;
        margin-bottom: 32px;
    }
    .blog__info{
        margin-left: 0px;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    .newsletter__title{
        font-size: 54px;
        line-height: 72px;
    }
    .email__form .email__group{
        margin: 40px 30px 0 0 ;
    }
    .footer__block{
        flex-direction: column;
        row-gap: 60px;
    } 
}

@media screen and (max-width: 900px) {
    .slider_header .slick-dots,
    .slider_header .slick-arrow{
        display: none !important;
    }
    .slider_header .slick-list {
        height: 1230px !important;
    }
    .header__text_main{
        font-size: 40px;
        line-height: 52px;
    }
    .header__booking{
        max-width: 288px;
        margin: 100px auto;
    }
    .booking__form{
        flex-direction: column;
        left: 0;
        height: 100%;
        border-radius: 16px 16px 20px 20px;
        padding: 0;
    }
    .input__block{
        flex-direction: column;
        margin-right: 0;
        padding: 20px;
    }
    .form__group{
        width: 248px;
    }
    .form__btn{
        width: 100%;
        margin-top: 60px;
        border-radius: 0 0 20px 20px;
        padding: 40px 20px;
    }
}

@media screen and (max-width: 780px) {  
    .popular__slider{
        padding: 32px;
    }
    .popular__slider .slick-track{
        gap: 0;
    }
    .popular__slider .image__cutter{
        width: 100%;
        height: 456px;
    }
    .special__slider .slick-track{
        gap: 0;
    }
    .special__slider .slick-arrow.slick-prev, 
    .special__slider .slick-arrow.slick-next{
        top: 760px;
    }
    .gallery__slider{
        height: 100%;
    }
    .gallery__slider .slick-track{
        gap: 0;
    }
    .gallery__slider .slick-slide div{
        border-radius: 26px;
        overflow: hidden;
        margin-bottom: 32px;
    }
    .gallery__slider .slick-slide div:last-child{
        margin-bottom: 0;
    }
    .gallery__slider .slick-slide div img{     
        height: 351px;
        object-fit: cover;
    }
    .gallery__slider .slick-arrow.slick-prev, 
    .gallery__slider .slick-arrow.slick-next{
        top: 1600px;
    }
    .travelers__section{
        margin-bottom: 645px;
    }
    .travelers__slider .slick-list{
        display: block;
    }
    .newsletter{
        padding: 40px 20px;
        white-space: normal;
        gap: 60px;
        top: -455px;
    }
    .newsletter__title{
        font-size: 40px;   
        line-height: 53px;
    }
    .email__form{
        flex-direction: column;
        align-items: center;
    }
    .email__form .email__group{
        margin: 0;
    }
    .email__form input{
        width: 248px;
        margin-bottom: 32px;
    }
    .email__form button{
        width: 100%;
        padding: 24px;
        border-radius: 12px;
    }
    .gallery__slider.arrow_rigth_side .slick-arrow.slick-prev,
    .arrow_rigth_side .slick-arrow.slick-prev{
        right: 54%;
    }
    .gallery__slider.arrow_rigth_side .slick-arrow.slick-next,
    .arrow_rigth_side .slick-arrow.slick-next{
        right: 37%;
    }
    .slick-arrow.slick-prev, 
    .slick-arrow.slick-next{
        top: 587px;
    }
    .arrow_left_side .slick-arrow.slick-prev{
        left: 37%;
    }
    .arrow_left_side .slick-arrow.slick-next{
        left: 54%;
    }
}

@media screen and (max-width: 600px) {
    .travelers__slider{
        height: 570px;
    }
    .travelers__slider.arrow_rigth_side .slick-arrow.slick-prev, 
    .travelers__slider.arrow_rigth_side .slick-arrow.slick-next{
        top: 620px;
    }
}

@media screen and (max-width: 420px) {
    .section__header{
        margin-bottom: 60px;
    }
    .section__text_main{
        font-size: 40px;
        line-height: 53px;
    }
    .section__text_sub{
        font-size: 18px;
    }
    .stripe::before{
        margin: 10px 0 25px 0;
    }
    .popular__block .stripe::before,
    .travelers__block .stripe::before{
        width: 100%;
    }
    .arrow_rigth_side .slick-arrow.slick-next{
        right: 30%;
    }
    .arrow_left_side .slick-arrow.slick-prev{
        left: 25%;
    }
    .gallery__slider.arrow_rigth_side .slick-arrow.slick-next{
        right: 25%;
    }
    
    .header__text_sub{
        font-size: 18px;
    }
    .blog__title{
        font-size: 40px;
        line-height: 53px;
    }
    .blog__block .image__cutter{
        height: 288px;
        border-radius: 26px;
        overflow: hidden;
    }

    .special__bottom{
        display: block;
    }
    .price__block{
        margin-bottom: 20px;
    }
}
